
:root{
    --waiting-time:1s;
    --start-waiting-time:0s;
}


.credit-card{
    transform:scale(0);
    animation:  carders 2s calc(var(--waiting-time) + 1s) forwards normal ;
}

.catelog{
    animation: dropeffect 1s 0s forwards normal;
    animation:closing 1s 0s forwards normal;
}
header{
    transform: scale(0);
    animation:fromleft 2s var(--waiting-time) forwards normal ;
}

.small-box{
    transform: scale(0);
    animation:fromleft 2s calc(var(--waiting-time) + 2s) forwards normal;
}
.another-box{
    transform: scale(0);
    animation:fromdown 2s calc(var(--waiting-time) + 2s) forwards normal;
}

.scaledown{
    z-index: -1;
    transform: scaleY(0);
    transform-origin:top;
    animation: scale 1s var(--waiting-time) forwards normal;
}

.scaling{
    transform:scaleX(0);
    transform-origin: right;
    animation: scaleleft 1s calc(var(--waiting-time) + 1s) forwards normal;
}

.left{
    transform:scale(0);
    animation:fromleft 2s var(--waiting-time) forwards normal;
}

.downeffect{
    transform: scale(0);
    animation:fromtop 3s var(--waiting-time) forwards normal;
}

.designstart{
    transform: scale(0);
    animation:fromdown 2s var(--waiting-time) forwards normal;
}

.designcredit{
    animation:fromdown 3s calc(var(--waiting-time) + 1s) forwards normal;
}

.colored1 , .colored2 , .colored3 , .colored4 , .colored5 , .colored6{
    transform-origin: top;
}
.colored1{
    animation:scaletop .7s calc(var(--start-waiting-time) + 1s) forwards normal ease-in; 
}

.colored2{
    animation:scaletop .7s calc(var(--start-waiting-time) + .8s) forwards normal ease-in; 
}
.colored3{
    animation:scaletop .8s calc(var(--start-waiting-time) + .6s) forwards normal ease-in; 
}

.colored4{
    animation:scaletop .8s calc(var(--start-waiting-time) + .4s) forwards normal ease-in; 
}

.colored5{
    animation:scaletop 1s calc(var(--start-waiting-time) + .2s) forwards normal ease-in; 
}
.colored6{
    animation:scaletop 1s var(--start-waiting-time) forwards normal ease-in; 
}

.removing{
    opacity:1;
    transform:translateX(0);
    transition: all 1s ease-in-out;
}

.onlyscale{
    transform:scaleX(1);
    opacity:1;
}

.clients_design{
    transform: translateY(0);
   opacity:1;
}

.addposition{
    position:fixed;
}

@keyframes scaletop {
    to{
        transform: scaleY(0);
    }
}

@keyframes carders {
    from{
        transform:translateX(500px);
        
    }to{
        transform: translateX(0);
        
        transform:rotate(330deg);
    }
}

@keyframes scaleleft {
    to{
        transform:scaleX(1);
    }
}

@keyframes scale {
    to{
      transform: scaleY(1);
    }
}

@keyframes fromtop {
    from{
        transform:translateY(-100%);
        opacity: 0;
    }to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fromdown {
    from{
        transform:translateY(50%);
        opacity: 0;
    }to{
        transform: translateY(0);
        opacity: 1;
    }

}

@keyframes cardslide {
    from{
        transform: rotate(330deg);
        
    }to{
        transform: rotate(-0deg);
        right:0%;
        z-index: 2;
        transform: scale(1.4);
    }
} 
@keyframes reversing {
    from{
        transform: rotate(-0deg);
        right:0%;
        z-index: 2;
        transform: scale(1.4);
    }to{
        transform: rotate(330deg);
    }
} 




@keyframes selecting {
        from{
            background-blend-mode: soft-light;
            scale:0%;
        }to{
            opacity: 100%;
            scale: 1%;
        }
}



@keyframes fromleft{
    from{
        transform:translateX(-10%);
        opacity: 0;
    }to{
        transform:translate(0);
        opacity: 1;
    }
}

@keyframes dropeffect {
    from{
        transform:rotate(90deg);
        right:20%;
        opacity:0;
    }
}

@keyframes closing {
    to{
        transform:rotate(90deg);
        right:20%;
        opacity: 0%;
    }
}
