*,*::before,*::after{
    box-sizing: border-box;
}

main{
    max-width:400px;
    margin:0 auto;
}

img{
    width:100%;
}

.content{
    text-align: center;
}

form{
   width:90%;
   margin: 0 auto;
    input{
        width:100%;
        margin:.5em 0;
        padding:.5em 1em;
        border-radius: .5em;
        border:.1em solid grey;
       
       
    }
    
    .agreement{
        padding:1em 0;
        .check{
            width:2em;
            height: 2em;
            border :2px solid black;
            margin-right: 1em;
            border-radius: 50px;
        }
        label{
            display:flex;
            align-items: center;
        }
    }

    .submit{
        padding: 1.2em 0;
    }
}
